<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link  rel="icon" type="image/png" href="/img/WhatsApp Image 2024-11-13 at 10.57.50_e7f206ab.jpg">
    <title>rox-sabil</title>
</head>
<body>

    <!-- project catagory -->
    <section>
        <div>
        
    <form action="/createprojectcatagory" method="post">
        <input type="text" name="title" placeholder="Project Title "/>
        <input type="text" name="decription" placeholder="Project Description "/>
        <input type="text" name="skills" placeholder="Project Skills "/>
        <button type="submit">Create Project Catagory</button>
    </form>
    </div>
    </section>


    <!-- projects Showcase -->
     <section>
        <div>
            
        <form action="/projectshocase" method="post">
        <input type="text" name="titlee" placeholder="Project Title "/>
        <input type="text" name="decriptionn" placeholder="Project Description "/>
        <input type="text" name="skillss" placeholder="Project Skills "/>
        <input type="text" name="link" placeholder="Project Link "/>
        <input type="text" name="github" placeholder="Project GitHub "/>
        <button type="submit">Create Project</button>
    </form>
        </div>
     </section>
</body>
</html>